# Loop

### Print your name 10 times.

In [2]:
start = 1
stop = 10
while(start <= stop):
    print("Aryan")
    start = start + 1

Aryan
Aryan
Aryan
Aryan
Aryan
Aryan
Aryan
Aryan
Aryan
Aryan

### Print number from 1 to 25

In [7]:
start = 1
stop = 25
while(start <= stop):
    print(start)
    start = start + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### Print number from 25 to 75

In [8]:
start = 25
stop = 75
while(start <= stop):
    print(start)
    start = start + 1

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75

### Print number from 0 to 100 in steps of 5

In [11]:
start = 0
stop = 100
while(start <= stop):
    print(start)
    start = start + 5

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### Wap to check a number is even or odd.

In [18]:
number = int(input("enter a number "))
if (number % 2) != 0:
    print("The number is odd")
else:
    print("The number is even")

enter a number 10
The number is even

### wap to print even numbers from 70 to 150.

In [19]:
# Your code Here

### wap to print odd numbers from 75 to 150.

In [20]:
# Your code Here